@keyframes slider3-transition-in {
    from { left: 0; }
    to   { left: -100%; }
}
@keyframes slider3-transition-out {
    0%   { left: 100%;}
    25%  { left: 0;}
    100% { left: 0;}
}
@keyframes slider3-bg-in {
    from { left: 45%; }
}
@keyframes slider3-bg-out {
    to { left: 55%; }
}
@keyframes slider3-diamond-wrapper-in {
    from { left: 70%; }
}
@keyframes slider3-diamond-wrapper-out {
    to { left: 30%; }
}
@keyframes slider3-diamond-content-in {
    from { top: 10%; left: 10%; }
}




.slider3-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.slider3-transition-in {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: -100%;
    top: 0;
    animation-name: slider3-transition-in;
    animation-duration: 1s;
    /* animation-timing-function: ease-out; */
    /* animation-delay: 4s; */
}
.slider3-transition-out {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: -100%;
    top: 0;
    animation-name: slider3-transition-out;
    animation-duration: 3s;
    /* animation-timing-function: ease-out; */
    animation-delay: 4s;
}

.slider3-diamond-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 10px;
    margin: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    /* overflow: hidden; */
    animation: 
        slider3-diamond-wrapper-in 1s ease-out,
        slider3-diamond-wrapper-out 1s linear 4s
    ;
}
.slider3-diamond-outer {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #f2f2f0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    /* animation: logo-outer 1.3s ease-out; */
}
.slider3-diamond-border {
    height: 95%;
    aspect-ratio: 1 / 1;
    background-color: #f2f2f0;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    /* animation: logo-border 1.3s ease-out; */
}
.slider3-diamond {
    height: 90%;
    aspect-ratio: 1 / 1;
    /* background-color: #f2f2f0; */
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    /* animation: logo 1.3s ease-out; */
}
.slider3-diamond-content {
    width: auto;
    height: 141%;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    animation: slider3-diamond-content-in 1s ease-out;
}
.slider3-diamond-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}








.slider3-bg-content {
    width: 110%;
    height: auto;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    animation: 
        slider3-bg-in 1.5s ease-out,
        slider3-bg-out 1.5s ease-out 4s
    ;
}








@media (min-width: 1200px) {
    .slider3-diamond-text {
        top: 35%;
        left: 50%;
        -ms-transform: translateY(-35%) translateX(-50%);
        -webkit-transform: translateY(-35%) translateX(-50%);
        transform: translateY(-35%) translateX(-50%);
    }
}
@media (min-width: 992px) {
    .slider3-diamond-text {
        top: 40%;
        left: 50%;
        -ms-transform: translateY(-40%) translateX(-50%);
        -webkit-transform: translateY(-40%) translateX(-50%);
        transform: translateY(-40%) translateX(-50%);
    }
}
@media (min-width: 768px) {
    .slider3-diamond-text {
        font-size: 45px;
    }
}
@media (max-width: 576px) {
    .slider3-diamond-text {
        font-size: 35px;
    }
}
